<div class="card" id="{{card.id}}">
        <div class="card-block">
            <a href="{{ card.link }}">
                <div>
                {% if card.previewimage != "" %}
                    {% set resimage = card.previewimage %}
                    {% if settings.colsxl > 2 %}
                        {% include('partials/_resimage_25vw_33vw_50vw_100vw.twig') with { 'resimage' : resimage } %}
                    {% else %}
                        {% include('partials/_resimage_50vw_100vw.twig') with { 'resimage' : resimage } %}
                    {% endif %}
                {% endif %} 
                {{ card.previewtext }}
                </div>
            </a>
            <div class="card-text small">
                {{ card.title }}
            </div>
        </div>
    </a>
</div>