
    <footer class="container-fluid">
        <div>
            <div style="border-top: 1px solid black;">
                <span class="small">© {{ "now"|date("Y")~" "~settings.footer|striptags('<a>') }}</span>
            </div>
        </div>
    </footer>
    
    <!-- Assets -->
    <script src={{ asset('dist/js/flexfolio.js', 'theme') }}></script>

  </body>
</html>
