<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
      {% set homebutton = config.get('general/sitename') %}
      <div style="white-space: nowrap;">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" style="padding-left: 0;" href="{{ '/' }}">
              {% if settings.brandicon %}<i class="bi bi-{{ settings.brandiconcode }}" style="padding-right: 8px"></i>{% endif %}{{ homebutton }}</a>
          </li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {{ include('partials/_menu.twig') }}
      </div>
    </div>
  </nav>
</header>