{# fetching settings #}
{# ----------------- #}
{% setcontent settings = 'settings' limit 1 returnsingle %}


{% include 'partials/_header.twig' with { 'settings' : settings } %}
    <body>
{% include 'partials/_navbar.twig' with { 'settings' : settings } %}
    
    {# fetching content #}
    {# ---------------- #}
    {% set relatedrecords = record|related() %}
    {% set cards = relatedrecords %}
    
    {# getting the magic with rows and columns            #}
    {# i.e. 10 entries should give = 3/3/2/2 not 3/3/3/1  #}
    {# -------------------------------------------------- #}
    {% if settings.colsxl > 0 %}
        {% set columns = settings.colsxl %}
    {% else %}
        {% set columns = 4 %}
    {% endif %}

    {% set pattern = [] %}
    {% set ids = [] %}

    {% for card in cards %}
        {% set ids = ids|merge([card.id]) %}
    {% endfor %}

    {% set l = cards|length %} {# total cards #}
    {% set r1 = cards|length % columns %} {# remaining cards #}

    {% for i in 0..columns-1 %}
        {% if r1 > 0 && ids|length >= 4 %}
            {% set pattern = pattern|merge([[ids[i], ids[i+columns]]]) %}
            {% set r1 = r1-1 %}
        {% elseif ids|length > i %}
            {% set pattern = pattern|merge([[ids[i]]]) %}
        {% endif %}
    {% endfor %}

    {# container #}
    {# --------- #}
    {% if settings.layoutcontainer == 'fluid' %}
    <div class="container-fluid">
    {% else %}
    <div class="container">
    {% endif %}
        <div class="row flex-md-row-reverse">
            {# wide row with page content #}
            {# -------------------------------- #}
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-block">
                        {# image #}
                        {# ----- #}
                        <div class="card py-1">
                            {% include('partials/_resimage_50vw_100vw.twig') with { 'resimage' : record.image, 'alt' : record.image.alt } %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    {# text #}
                    {# ---- #}
                    <div class="card">
                        <div class="card-block">
                            {# title #}
                            {# ----- #}
                            <h4 class="card-title"> {{ record.title }}</h4>
                            <div class="card-text">{{ record.body }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {# get columns #}
            {% if settings.colsxl == 4 %}
                    {% set colclass = 'col-sm-12 col-md-6 col-lg-4 col-xl-3' %}
                {% elseif settings.colsxl == 3 %}
                    {% set colclass = 'col-sm-12 col-md-6 col-lg-4 col-xl-4' %}
                {% elseif settings.colsxl == 2 %}
                    {% set colclass = 'col-sm-12 col-md-6 col-lg-6 col-xl-6' %}
            {% endif %}
            
            {# push rows in columns #}
            {% for i in 0..columns-1 %}
                <div id="column-{{i}}" class="{{colclass}}">
                {% for card in cards %}
                    {% if pattern[i] is defined && card.id in pattern[i] %}
                        {% include 'partials/_card.twig' with { 'settings' : settings } %}
                    {% endif %}
                {% endfor %}
                </div>
            {% endfor %}
        </div> 
    </div>

    <div onclick="topFunction();" id="scrollup"><span class="icon-up-open"></span></div>

{% include 'partials/_footer.twig' with { 'settings' : settings } %}
