{# fetching settings #}
{# ----------------- #}
{% setcontent settings = 'settings' limit 1 returnsingle %}

{% include 'partials/_header.twig' with { 'settings' : settings } %}
    <body>
{% include 'partials/_navbar.twig' with { 'settings' : settings } %}
    
    {# ecwid shop       #}
    {# ---------------- #}
    
    {# container #}
    {# --------- #}
    <div class="container-fluid">
        <div class="row">
            {{ settings.shop }}
        </div>
    </div>

    <div onclick="topFunction();" id="scrollup"><span class="icon-up-open"></span></div>

{% include 'partials/_footer.twig' with { 'settings' : settings } %}
