// Bootstrap

// Toggle global options
// $enable-gradients: true;
// $enable-shadows: true;

// Customize some defaults, i.e.
// $body-color: #fff;
// $body-bg: #333;


$black: #111;

$link-color: #111;
$nav-link-color: #111;
$link-decoration: underline;

$enable-rounded: false;
$card-border-width: 0;

$link-hover-color: red;
$btn-link-hover-color: red;
$navbar-light-hover-color: red;
$navbar-light-active-color: red;

$btn-hover-bg-shade-amount: 100%;



// Import all (without functions)
@import "../../node_modules/bootstrap/scss/bootstrap";

// or import what you need from bootstrap

// Import Bootstrap Icons
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";


// CSS Animation

// Fade-in

.fade-in {
    animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    -o-animation: fadeIn .5s;
    -ms-animation: fadeIn .5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }